# W3TC - W3 Total Cache
w3tc-config/
cache/
mobile/cache
wp-content/cache
wp-content/advanced-cache.php
wp-content/object-cache.php

# Netbeans
/nbproject/private/
nbproject

# visual studio code
.vscode/*

# WebStorm / PhpStorm
.idea/*
.idea

# Env
.htaccess
.gitkeep
nginx.conf
wp-config.php
wp-config-sample.php

node_modules
#bower_components
.sass-cache
#Gemfile*

#/vendor/
wp-content/uploads
wp-content/upgrade/

##########################
*.log
*.sql
*.sh
sitemap_index.xml
sitemap.xml
sitemap.xml.gz
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
readme.html
license.txt
wp-content/wp-rocket-config/norske-spilleautomater.loc.php
wp-content/wp-rocket-config/norske.loc.php
wp-content/plugins/wp-rocket/cache.json

wp-content/plugins/above-the-fold-optimization/includes/cron.log
wp-content/plugins/above-the-fold-optimization/trunk/includes/cron.log
wp-content/wp-rocket-config/gamblegeneration.loc.php
